body {
  font-family: 'Roboto', sans-serif;

  color: #434455;

  background-color: #fff;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
ul li {
  list-style-type: none;
}

/*------ HEADER ------*/

.top-line {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 156px;
}

.main-logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: #4d5ae5;
}
.main-logo > span {
  color: #2e2f42;
}

.top-line-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-line-nav > ul {
  display: flex;
  flex-direction: row;
  width: 261px;
  height: 24px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

address {
  font-style: normal;
}
.addresat > ul {
  display: flex;
  flex-direction: row;
}
.addresat > ul li > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 40px;
}

.top-nav-item:hover,
.top-nav-item:focus {
  color: #404bbf;
  text-decoration: underline;
}
.addresat .addresat-contact {
  color: #434455;
}

.addresat .addresat-contact:hover,
.addresat .addresat-contact:focus {
  color: #404bbf;
}

/*------ HERO SECTION ------*/

.hero {
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: white;
  width: 496px;
  text-align: center;
}
.hero-button {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

/*------ Section benefits ------*/

.benefits {
  padding: 120px 156px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.benefits-title {
  display: none;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-list > li {
  width: 264px;
  height: 104px;
  margin: 0 12px;
}

.benefits-list > li > h3 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.li-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/*------ CREW ------*/

.crew {
  background-color: #f4f4fd;
  padding: 120px 156px;
  display: flex;
  flex-direction: column;
}

.crew-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0 0 72px 0;
  color: #2e2f42;
}

.crew-list {
  display: flex;
  justify-content: center;
}

.crew-list > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 12px;
}

.crew-list-foto {
  margin: 0 0 32px 0;
  max-width: 264px;
  min-height: 260px;
}

.crew-list-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0 0 8px 0;
  color: #2e2f42;
}

.crew-list > li > p {
  margin: 0 0 32px 0;
}

/* ------- portfolio ------*/

.portfolio {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 72px;
  align-items: center;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}

.portfolio-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1128px;
}

.portfolio-list > li {
  margin-bottom: 48px;
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid #e7e9fc;
  background: #ffffff;
}

.portfolio-list-title {
  margin: 32px 0 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list > li p {
  margin: 0 0 32px 16px;
}

/*------- FOOTER -------*/

.ground {
  background-color: #2e2f42;
  height: 312px;
  padding: 101.5px 156px;
}

.ground-logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: #4d5ae5;
  margin: 0 0 17.5px 0;
}
.ground-logo-span {
  color: #f4f4fd;
}

.ground-par {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  height: 72px;
}
